@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Serif+Pro:wght@300;400;700&display=swap');
h1 {text-indent: 3em;
}
.col-md-one-half
{width: 50%;
}
.col {float:left;
	width: 50%;
	padding: 0px 7px 14px;
}
.col-lg-one-fourth 
{width: 25%;
}
.col {float:left;
	width: 25%;
padding: 0px 7px 14px}

/* Importing a Google Font */
.video_container{
	postition: relative;
	width: 100%;
	
}
.wrapper {
	width: 100%;
}
/* Changing the main font and background colour */

body {
	width:100%;
	max-width: 100%;
	height: auto;
	vertical-align:middle;
	font-family: 'Source Serif Pro', serif;
	background-color: #fffcf8;
}
	
*{
	margin: 0;
	padding: 0;
}

.wrapper {
    width:100%;
	max-width: 100%;
	height: auto;
	vertical-align:middle;
	font-family: 'Source Serif Pro', serif; 
	font-weight: 700;
	color: #FF0004;
}

.under-title {
    width:100%;
	max-width: 100%;
	height: auto;
	vertical-align:middle;
	font-family: 'Source Serif Pro', serif; 
	font-weight: 500;
	color: #000000;
	
}

.card-title {
	width:100%;
	max-width: 100%;
	height: auto;
	vertical-align:middle;
	font-family: 'Source Serif Pro', serif;
	font-weight: 500;
	color: #000000;
}

.card-text {
	width:100%;
	max-width: 100%;
	height: auto;
	vertical-align:middle;
	font-family: 'Source Serif Pro', serif;
	font-weight: 300;
	color: #000000;
}

.my-md-2 {
	vertical-align:middle;
	font-family: 'Source Serif Pro', serif;
	color: #000000;
	
}

.btn-outline-light {
	vertical-align:middle;
	font-family: 'Source Serif Pro', serif;
	color: #000000;

}

.header-content {
    width:100%;
	max-width: 100%;
	height: auto;
	vertical-align:middle;
	font-family: 'Source Serif Pro', serif;
	font-weight: 700;
	font-size: 200px;
	color: #FF0004;
	
}

.row:before, .row:after {
	content: "";
	display: table;
}
.row:after {
	clear:both;
}

/* Changing the background colour for the header */

header {
	width:100%;
	max-width: 100%;
	height: auto;
	vertical-align:middle;
	font-family: 'Source Serif Pro', serif;
	color: #FF0004
}

img{
	width:100%;
	max-width: 100%;
	height: auto;
	vertical-align:middle;

}
.navbar-brand {
	margin-left: auto;
	margin-right: auto;
	display: block; 
	width: 100px;
	
}
video{
	width:100%;
	max-width: 100%;
	height: auto;
	vertical-align:middle;
		
}

.container{
	width:100%;
}


/* Changing the background color for the navigation bar */

.navbar {
	background-color: #FFFFFF;
	
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
	width: 100%;
	
}

.social-icon {
	margin-left: auto;
	margin-right: auto;
	display: block; 
	width: 30px;

}

.mb-4 {
	margin-left: auto;
	margin-right: auto;
	display: block; 
	width: 300px;
	
}.rounded-circle {
}
.w-100 {
}
.display-2 {
}
.display-1 {
}
.display-8 {
}
.display-7 {
}
.display-6 {
}
.display-4 {
}
.display-5 {
}

.brand-text {
	width: 1000px ; 
	height: auto;
	vertical-align:middle;
	margin: auto;
	font-family: 'Source Serif Pro', serif;
	font-weight: 300;
	background-color:#FFFFFF;
}