@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Serif+Pro:wght@300;400;700&display=swap');
h1 {text-indent: 3em;
}
.col-md-one-half
{width: 50%;
}
.col {float:left;
	width: 50%;
	padding: 0px 7px 14px;
}
.col-lg-one-fourth 
{width: 25%;
}
.col {float:left;
	width: 25%;
padding: 0px 7px 14px}


.video_container{
	postition: relative;
	width: 100%;
	
}
.wrapper {
	width: 100%;
}
/* Changing the main font and background colour */

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);

}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

body {
	width:100%;
	max-width: 100%;
	height: auto;
	vertical-align:middle;
	font-family: 'Source Serif Pro', serif;
	background-color: #fffcf8;
}
.image.fluid
	
*{
	margin: 0;
	padding: 0;
}

.wrapper {
    width:100%;
	max-width: 100%;
	height: auto;
	vertical-align:middle;
	font-family: 'Source Serif Pro', serif; 
	font-weight: 700;
	color: #FF0004;

}

.main-header-content {
	position: absolute;
	top: 60%;
	width: 100%;
	max-width: 100%;
	vertical-align:middle;
	font-family: 'Source Serif Pro', serif;
	font-weight: 700;
	font-size: 20vw;
	color: #f40f0f;

}

.header-content {
	width: 100%;
	max-width: 100%;
	height: auto;
	vertical-align:middle;
	font-family: 'Source Serif Pro', serif;
	font-weight: 700;
	font-size: 10vw;
	color: #f40f0f;
}

.under-title {
    position: relative;
	z-index: 130;
	width:100%;
	max-width: 100%;
	height: auto;
	vertical-align:middle;
	font-family: 'Source Serif Pro', serif; 
	font-weight: 500;
	font-size: 3vw;
	color: #FFFFFF;
	
}

.under-title_aboutvirtyou {
	width:100%;
	max-width: 100%;
	height: auto;
	vertical-align:middle;
	font-family: 'Source Serif Pro', serif; 
	font-weight: 500;
	font-size: 5vw;
	color: #000000;
	
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;

	
}

video{
	width:100%;
	max-width: 100%;
	height: auto;
	vertical-align:middle;
	
		
}

.card-title {
	width:100%;
	max-width: 100%;
	height: auto;
	vertical-align:middle;
	font-family: 'Source Serif Pro', serif;
	font-weight: 500;
	color: #000000;
}

.card-text {
	width:100%;
	max-width: 100%;
	height: auto;
	vertical-align:middle;
	font-family: 'Source Serif Pro', serif;
	font-weight: 300;
	color: #000000;
}

.my-md-2 {
	vertical-align:middle;
	font-family: 'Source Serif Pro', serif;
	color: #000000;
	
}

.btn-outline-light {
	vertical-align:middle;
	font-family: 'Source Serif Pro', serif;
	color: #000000;
	

}

.row:before, .row:after {
	content: "";
	display: table;
}
.row:after {
	clear:both;
}

/* Changing the background colour for the header */

header {
	width:100%;
	max-width: 100%;
	height: auto;
	vertical-align:middle;
	font-family: 'Source Serif Pro', serif;
	color: #FF000
}

img{
	width:100%;
	max-width: 100%;
	height: auto;
	vertical-align:middle;

}
.navbar-brand {
	margin-left: auto;
	margin-right: auto;
	display: block; 
	width: 100px;
	
}


.container{
	width:100%;
}


/* Changing the background color for the navigation bar */

.navbar {
	background-color: #FFFFFF;
	
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
	width: 100%;
	
}

.social-icon {
	margin-left: auto;
	margin-right: auto;
	display: block; 
	width: 30px;

}

.mb-4 {
	margin-left: auto;
	margin-right: auto;
	display: block; 
	width: 300px;
	
}.rounded-circle {
}
.w-100 {
}
.display-2 {
}
.display-1 {
}
.display-8 {
}
.display-7 {
}
.display-6 {
}
.display-4 {
}
.display-5 {
}
.display-3{

}
.brand-body{
	width: 90%;
	max-width: 100%;
	height: auto;
	vertical-align:middle;
	margin: auto;
	background-color:#FFFFFF;
}
.brand-text {
	width: 90%;
	max-width: 100%;
	height: auto;
	vertical-align:middle;
	margin: auto;
	font-family: 'Source Serif Pro', serif;
	font-weight: 300;
	background-color:#FFFFFF;

}

.instagram-text {
	width: 100% ; 
	height: auto;
	vertical-align:middle;
	margin: auto;
	font-family: 'Source Serif Pro', serif;
	font-weight: 300;
	font-size: 4vw;
	background-color:#FFFFFF;	
}

.pictures-middle{
	display:flex;
	justify-content: left;
}

.btn-primary {background-color: #e41315;
	border: #e41315;
}

body
{
	margin: 0;
	padding: 0;
	
}
.sign-in
{
	width: 300px;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0,3);
	background: #e41513;
	padding: 20px;
	margin: 8% auto 0;
	text-align: center;
	background-color: #e41513;
	background-size: cover;
	background-position: center;
	
}
.sign-in
{
	width: 300px;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
	background: #e41513;
	padding: 20px; 
	margin: 8% auto 0;
	text-align: center;
}
.sign-in
{
	border-radius: 20px;
	padding: 10px; 
	margin: 10px 0;
	width: 100%;
	border: 1px solid #e41513;
	outline: none;
}
button
{color: #000000;
width: 100%;
padding: 10px;
	border-radius: 20px;
	font-size: 15px;
	margin: 10px 0;
	cursor: pointer;
	
}
.signup
{
	background-color: #1c8adb;
	
}
.register
{background-color: #fff;
}

.register-text{
	width: 100% ; 
	height: auto;
	vertical-align:middle;
	margin: auto;
	font-family: 'Source Serif Pro', serif;
	font-weight: 300;
	font-size: 4vw;
	color: #000000;
}
a
{
	text-decoration: none;
}
hr
{
	margin-top: 20px;
	width: 80%;
}
.sign-in
img
{
	width: 70px;
	
}
.sign-in h1
{color: #e41513;
margin-bottom: 30px}

.input-box{
	border-radius: 20px;
	padding: 10px;
	margin: 10px 0;
	width: 100%;
	border: 1px solid #e41513;
	outline: none;
}
button
{
	color: #fff;
	width: 100%;
	border-radius: 20px;
	font-size: 15px;
	margin: 10px 0;
	border: none;
	outline: none;
	cursor: pointer;
}
.sign-in-btn
{backround-color: #000000;
}

.register-btn
{background-color: #000000;}
a
{text-decoration: none;}
hr
{margin-top: 20px;
width: 80%;}

.or
{background: #e41516;
width: 30px;
margin: 9px auto 10px;}


.account
{background-image: url("file:///C:/Users/Michelle/OneDrive/Bureaublad/GitHubWebsite/Virtyou/images/picturewebsite12.jpg");
background-size: cover;
background-position: center;
}

.sign-in h1
{	width: 100% ; 
	height: auto;
	vertical-align:middle;
	margin: auto;
	font-family: 'Source Serif Pro', serif;
	font-weight: 300;
	font-size: 4vw;
	color: #000000;
}

.sign-in button
{color: #000000;}

.SignIn
{background-image: url("file:///C:/Users/Michelle/OneDrive/Bureaublad/GitHubWebsite/Virtyou/images/picturewebsite12.jpg")}

.sweater-text
{align: "left";
width: 50%;}

.btnview
{color: #fff;
	background-color: #e41513;
border: solid 2px #e41513;
border-radius: 50px;
padding: 10px 50px;}

.btnview:hover {
	
	background-color: #fff;
	color: #e41513;
}
.btnback
{color: #fff;
background-color: #000000;
border: solid 2px #000000;
border-radius: 100px;
padding: 10px 50px;
margin: 63px;

	

	
}

.btnback:hover {
	background-color: #fff;
	color: #000000;
}

.about-the-brand-logo {
	width: 100%;
	max-width: 100%;
	height: auto;
	vertical-align:middle;
}
